@import url("https://fonts.googleapis.com/css?family=Dosis:200|Muli|Source+Sans+Pro");
strong, b {
  font-weight: bold; }

@media print {
  @page {
    height: 11in;
    width: 8.5in;
    margin: 0;
    border: 0;
    padding: 0; }
  #resume {
    margin: 0 !important; }

  body {
    background-color: black;
    margin: 0;
    padding: 0; }

  #navbar {
    display: none; } }
#resume {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  width: 8.5in;
  height: 11in;
  padding: 15px 20px;
  background-color: black;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 13px; }

.common-attributes {
  padding: 0 20px 0 20px; }
  .common-attributes h3, .common-attributes h4 {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 -20px 0 -20px;
    padding: 10px 20px 10px 20px; }
  .common-attributes:last-of-type {
    margin-bottom: 0; }

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

.flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.item1 {
  width: 100%;
  margin: 0 -20px 0 -20px;
  padding: 0px 20px 10px 20px;
  clear: both; }
  .item1 p {
    font-family: "Muli";
    font-size: 13.5px; }
    .item1 p:nth-child(1) {
      float: left;
      margin-bottom: 5px; }
    .item1 p:nth-child(2) {
      float: right;
      margin-bottom: 5px; }
    .item1 p:nth-child(n+3) {
      clear: both;
      margin-top: 0; }
    .item1 p:last-child {
      margin-bottom: 0; }

.item2 {
  width: 100%;
  margin: 0 -20px 0 -20px;
  padding: 10px 20px 10px 20px; }
  .item2:first-of-type {
    margin-top: 10px; }
  .item2 p {
    font-family: "Muli";
    font-size: 13px;
    margin: 0; }
    .item2 p:nth-child(1) {
      margin-bottom: 5px; }
    .item2 p:nth-child(2) {
      margin-bottom: 10px; }

.item3 {
  overflow: auto;
  height: auto;
  padding: 10px 20px 10px 20px; }
  .item3 ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 89%;
    float: left; }
  .item3 li {
    list-style-type: none; }
  .item3 .arrow {
    float: right;
    width: 30px; }

.header {
  margin-bottom: 20px;
  position: relative; }
  .header .title {
    height: 100px;
    border: 5px solid white;
    font-family: "Dosis", sans-serif;
    font-weight: 200; }
    .header .title h1, .header .title h2 {
      text-align: center;
      width: 75%; }
    .header .title h1 {
      font-size: 40px;
      margin: 0;
      padding-top: 10px; }
    .header .title h2 {
      margin: 0;
      font-size: 20px; }
  .header .photo {
    position: absolute;
    right: 70px;
    top: -8px;
    width: 120px;
    border-radius: 50%;
    border: 8px solid black; }

.top-wrapper {
  height: 776px;
  margin: 20px 0 20px 0; }
  .top-wrapper .left {
    width: 68%;
    float: left;
    margin-right: 15px; }
  .top-wrapper .right {
    width: 30%;
    float: right; }

.bottom-wrapper {
  margin-top: 20px;
  width: 100%;
  overflow: auto; }
  .bottom-wrapper h3, .bottom-wrapper h4 {
    margin: 0;
    padding: 10px 20px 10px 20px; }

#contact {
  font-size: 14.6px; }
  #contact .logo {
    width: 20px;
    float: left;
    padding-right: 9px; }

#languages {
  float: left;
  width: 49%; }
  #languages li {
    padding-right: calc(100%/12); }

#technologies {
  float: right;
  width: 49%; }
  #technologies li {
    padding-right: 30px; }

.white-bg {
  background-color: white;
  color: green; }
  .white-bg h4 {
    color: black;
    text-align: left;
    background-color: #bcbcbc; }

.purple-bg {
  background-color: #8f54bc; }
  .purple-bg h3 {
    background-color: #8345b1; }
  .purple-bg .item1:nth-child(2n+1) {
    background-color: #8345b1; }

.red-bg {
  background-color: #cc381e; }
  .red-bg h3 {
    background-color: #a02c17; }
  .red-bg .item1:nth-child(2n+1) {
    background-color: #a02c17; }

.blue-bg {
  background-color: #6c8ee2; }
  .blue-bg h3 {
    background-color: #577ede; }
  .blue-bg .item1:nth-child(2n+1) {
    background-color: #577ede; }

.gold-bg {
  background-color: #dba93d; }
  .gold-bg h3 {
    background-color: #d79f28; }
  .gold-bg .item2:nth-child(2n+1) {
    background-color: #d79f28; }

/*# sourceMappingURL=resume.css.map */
